.foods {
      padding: 50px 0 100px 0;

      background: var(--dark-red-bg);
      color: #fff;
}

.foods .container {
      height: inherit;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
}

.foods__title {
      padding: 50px 0;

      font-size: 50px;
      text-align: center;
}

.foods-flex {
      /* height: 300px; */
      width: 100%;
      
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 5rem;
}

.food-card {
      margin: 10px 0;
      padding: 20px;

      text-align: justify;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
}

.food-card__img {
      width: 100%;
      height: 300px;
      object-fit: contain;
}



.food-card__body {
      padding: 0 1rem;

      text-align: center;
}

.food-card__body * {
      margin: 15px 0;
}

.food-card__title {
      font-size: 38px;
}

.food-card__description {
      font-size: 22px;
      font-size: 20px;
      /* text-align: justify; */
}

.food-card__price {
      padding: 8px;

      background: #000;

      font-size: 26px;
      font-weight: 600;
}

