.hero {
      height: 100vh;
      width: 100%;

      background: var(--dark-bg);

      
}

.hero .container {
      height: inherit;

      display: flex;
      align-items: center;
      justify-content:  space-between;
}

.hero-card {
      width: 40%;

      text-align: left;
}

.hero-card__title {
      font-size: 65px;
}

.hero-card__description {
      font-size: 25px;
}

.hero__img {
      height: 600px;
}