:root {
  --dark-bg: rgb(240, 240, 240);
  --red-bg: rgb(228, 45, 40);
  --dark-red-bg: rgb(65, 8, 6);
  --dark-green: rgb(22, 53, 57);
  --yellow: rgb(252, 218, 101);

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Varela Round', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--secondary-font);
    font-family: var(--primary-font);
}

.container {
    width: 80%;
    margin: auto;
}