:root {
  --dark-bg: rgb(240, 240, 240);
  --red-bg: rgb(228, 45, 40);
  --dark-red-bg: rgb(65, 8, 6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: auto;
}