.taco-tuesday {
      min-height: 100vh;

      background: var(--yellow);
}

.taco-tuesday__title {
      padding: 50px 0;

      font-size: 50px;
      text-align: center;
}

.taco-tuesday .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.taco-tuesday .container * {
      margin-bottom: 50px;
}

.card__title {
      font-size: 65px;
}

.card__text {
      font-size: 25px;
}

@media (max-width: 1200px) {

      .taco-tuesday .container {
            flex-direction: column;
      }

      .taco-tuesday img {
            width: 300px;
      }
}

